<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Olympic games{% endblock %}</title>
        <style rel="stylesheets">
            @import "https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css";
        </style>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="/css/base.css"/>
        {% endblock %}
    </head>
    <body>
        <h1 class="title">Olympic games</h1>
        <h2 class="subtitle">Faster - Higher - Stronger</h2>
        {% block body %}
            <div id="content">
                <div class="block">
                    {% block content %}{% endblock %}
                </div>
            </div>
        {% endblock %}
    </body>
</html>